.card {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 15px 0px;
    padding: 10px;
    background-color: #ffe8d1
}

/* .bandCard {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 15px 0px;
    padding: 10px;
    background-color: #ffe8d1
}

.eventCard {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 15px 0px;
    padding: 10px;
    background-color: #ffe8d1
}

.noteCard {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 15px 0px;
    padding: 10px;
    background-color: #ffe8d1
} */