<template>
    <div class="container-fluid">
        <div class="container mx-auto">
            <form>
                <div class="form-box-register">
                    <div class="row">
                        <div class="col">
                            <h1>Create an Event</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col mt-4">
                                    <h1>Event Information</h1>
                                    <img class="eventPic" v-if="displayImage" :src="displayImage" alt="Event"><br>
                                    <input v-if="!upload1" class="form-control" type="file" name="file" id="eventImg"
                                        ref="file" accept="image/*" v-on:change="processUpload()">
                                    <button v-if="upload1 && !upload2" type="button" @click='submitImage()'>Submit
                                        Image</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mt-4">
                                    <div class="row">
                                        <label for="event-name">Name of Event
                                            <input class="form-control" type="text" id="event-name" v-model="eventName"
                                                placeholder="" />
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label for="event-date">Date
                                            <input class="form-control" type="datetime-local" id="event-date" v-model="date"
                                                placeholder="" />
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label for="event-description">Description
                                            <input class="form-control" type="textarea" id="event-description" v-model="description"
                                                placeholder="" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col mt-4">
                                <h1>Venue Information</h1>
                                <div class="row">
                                    <label for="event-location">Venue Name
                                        <input class="form-control" type="text" id="event-location" v-model="eventlocation"
                                            placeholder="" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="event-city">City
                                <input class="form-control" type="text" id="event-city" v-model="eventcity" placeholder="" />
                            </label>
                        </div>
                        <div class="row">
                            <label for="event-state">State
                                <input class="form-control" type="text" id="event-state" v-model="eventstate"
                                    placeholder="" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <h1>Band Information</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <label for="event-bands">Your Band
                            <select class="form-control" type="text" id="event-bands" v-model="bandsid" placeholder="">
                                <option v-for="band in bandsList" :key="band.id" :value="band.id">{{
                                    band.bandname
                                    }}</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <button class="btn btn-event-create-2" type='button' @click='submit'>
                            <i class="fa fa-plus btn-icon" aria-hidden="true"></i>
                            Create Event
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>